<!DOCTYPE html>
<link rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/konpa/devicon@df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.title }}</title>
    <link rel="icon" href="{{ '/assets/favicon.ico' }}" type="image/x-icon" />
    <meta name="description" content="{{ site.description|striptags }}">

    <link rel="stylesheet" href="{{ '/assets/css/main.css' }}">
    <link rel="stylesheet" href="{{ '/assets/css/additional.css' }}">
</head>

<body>
    {% include "_layouts/_snippets/header.twig" %}
    {% block content %}{% endblock %}
    {% include "_layouts/_snippets/footer.twig" %}
</body>

</html>