---
layout: "_layouts/default.twig"
---

{% block content %}

<section id="about" class="justify-text">
    <h1>About me</h1>
    <p>Hi there!</p>
    <p>My name is cleiver and I don't know how to name my current occupation.</p>
    <p><b>TL;DR:</b> I'm a programmer, I'm a project manager, I may be a product owner and I help our users. &#128580;
    </p>
    <p>I used to be a backend developer many years ago, working with PHP and playing around with HTML, CSS and some
        JavaScript. I developed websites, forums and web systems for different companies until I started working for the
        government in 2009.</p>
    <p>And that was when my career started to change. Due to the lack of personal that is common in public companies I
        couldn't focus on just programming anymore. That is a bummer, but it also gave me the opportunity to work in
        many different areas.</p>
    <p>For example, in the beginning I was assigned to maintain the company's website. With its natural evolution, the
        people who took care of the servers started having some problems, so I worked with them to help with the
        infrastructure. With the demand for new systems, I began to work with an outsource company to gather
        requirements so they could develop the funcionalities. It was a matter of time until I started coordinating some
        projects. And with the knowledge I was accumulating I also worked handling some key users to help them with
        their
        needs.</p>
    <p>After three years I started working to the court house, where I'm still working. As we have a much bigger
        structure here, things are a bit more organized. We have a department just to take care of infrastructure, and
        another just to do user relation. And I work at the development department. Unfortunately it is a lot more
        bureaucratic in here, but that's expected. &#129325;</p>
    <p>In a nutshell, my job is to manage projects and systems. I'm responsible for about twenty systems right now. I
        work with the users in order to improve and maintain everything working. I work with the outsource company to
        develop accordingly. And I meet with the upper management to make sure things are running as planned.</p>
    <p>Technically I help with the architecture. Most of our systems are desktop applications, developed in VB6, VB.net
        and C#. We also have many web systems developed in .net, some in Java and a lonely one in PHP. (Maybe not a) Fun
        fact: I'm the only one in the whole company with a PHP background, so it's only fair that I'm in charge of this
        system.</p>
    <p>Another great coincidence is that, contractually, only employees from the government can work on this system,
        the outsource company cannot have access to its source code, so this is where I've been working more lately. I'm
        developing new modules and integrating it with other systems. I also work closely to the infrastructure
        department as they're not used to the PHP environment.</p>
    <p>All these stuff are more formally detailed on my <a href="https://www.linkedin.com/in/cleiver/"
            target="_blank">linkedIn profile</a>. But as you can see, although I identify myself
        as a web developer, I can walk through different roles as needed. I'm resilient enought to work with the tools I
        have at hand. I believe that once you know how to program, moving between languages is just a matter of time and
        practice.</p>
</section>

<section id="expertise">
    <h1>My expertise</h1>
    <p class="justify-text">Must of my technical experience is with back-end development, mainly with PHP. I have
        studied Python and now I'm
        learning NodeJS. On the front-end, I've always handled the layouts delivered by the designers.</p>
    <div class="row">
        <div class="col">
            <h2>Front-end</h2>
            <p><img src="{{ '/assets/icons/html5.png' }}" alt="HTML5" title="HTML5">
                <img src="{{ '/assets/icons/css3.png' }}" alt="CSS3" title="CSS3"></p>
            <p>This includes Bootstrap and correlates</p>
        </div>
        <div class="col">
            <h2>Back-end</h2>
            <p><img src="{{ '/assets/icons/php.png' }}" alt="PHP" title="PHP">
                <img src="{{ '/assets/icons/node.png' }}" alt="NodeJS" title="NodeJS"></p>
            <p>Also Laravel and Symfony on PHP, Express on Node and Django on Python</p>
        </div>
        <div class="col">
            <h2>Tools</h2>
            <p><img src="{{ '/assets/icons/git.png' }}" alt="Git" title="Git">
                <img src="{{ '/assets/icons/linux.png' }}" alt="Linux" title="Linux"></p>
            <p>And VS Code, Github, Docker and so on...</p>
        </div>
    </div>
</section>

{% endblock %}